.compare-empty {
   &__title {
   }

   &__content {
      height: 404px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
   }

   &__subtitle {
      @include title;
      color: $black;
   }

   &__text {
      margin-top: 12px;
      margin-bottom: 40px;
      color: $black;
      max-width: 527px;
      @include body;
      a {
         display: inline-block;
         width: 24px;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

   &__link {
      padding-left: 63px;
      padding-right: 63px;
      width: fit-content;
   }
   @media (max-width: 992px) {
      &__title {
         @include body-bold;
      }
      &__text {
         font-size: 14px;
         margin-top: 4px;
         margin-bottom: 28px;
      }
      &__link {
         padding-left: 0;
         padding-right: 0;
         width: 100%;
         height: 40px;
         @include body-s;
      }
   }
}

.compare-page {
   display: flex;
   flex-direction: column;
   gap: 40px;
   &__header {
      display: flex;
      flex-direction: column;
      gap: 40px;
   }

   &__categories {
      display: flex;
      gap: 16px;
      @media (max-width: 568px) {
         margin-left: -12px;
         margin-right: -12px;
         padding-left: 12px;
         padding-right: 12px;
         overflow: auto;
         -ms-overflow-style: none; /* IE и Edge */
         scrollbar-width: none; /* Firefox */
         width: 100vw;
         &:-webkit-scrollbar {
            display: none;
         }
      }
   }

   &__content {
      border: 1px solid #e1e1e3;
      padding: 32px;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-top: 0;
   }

   &__products {
   }

   &__info {
   }
   &__footer {
   }
   &__clear {
      cursor: pointer;
      height: 48px;
      color: #d70015;
      @include body;
      @media (max-width: 768px) {
         @include body-s;
         height: 36px;
      }
   }
   @media (max-width: 992px) {
      gap: 20px;
      &__header {
         gap: 20px;
      }
      &__content {
         padding: 16px;
      }
   }
   @media (max-width: 768px) {
      // padding-top: 16px;
   }
}
.compare-products {
   .swiper-slide {
      height: auto;
   }
   .pagination {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .swiper-pagination {
         position: relative;
         top: unset;
         left: unset;
         right: unset;
         bottom: unset;
      }
      .swiper-pagination-bullet {
         opacity: 1;
         width: 10px;
         height: 2px;
         border-radius: 2px;
         transition: 0.3s;
         background-color: #e1e1e3;
         &-active {
            opacity: 1;
            background-color: $black;
         }
      }
   }
   &.sticky {
      .sticky-swiper {
         pointer-events: all;
         opacity: 1;
      }
   }
   .sticky-swiper {
      background-color: white;
      z-index: 2;
      position: fixed;
      top: 100px;
      left: calc(((100vw - 1512px) / 2) + 266px);
      right: calc((100vw - 1514px) / 2);
      pointer-events: none;
      opacity: 0;
      transition: 0.3s;
      box-shadow: 0px 8px 10px 0px #c3c3c333;
      box-shadow: 0px -11px 30px 0px #c3c3c31f;
      box-shadow: 0px 16px 24px 0px #c3c3c324;
      padding: 16px 24px;
      @media (max-width: 1608px) {
         left: calc(48px + 266px);
         right: 47px;
      }
      @media (max-width: 1440px) {
         left: calc(44px + 266px);
      }
      @media (max-width: 1024px) {
         top: 96px;
         right: 20px;
         left: calc(21px + 243px);
      }
      @media (max-width: 992px) {
         padding: 16px;
         left: 21px;
      }
      @media (max-width: 768px) {
         top: 106px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 20px;
      }
      @media (max-width: 650px) {
         left: 13px;
      }
      @media (max-width: 568px) {
         top: 104px;
         .swiper {
            padding-top: 0;
         }
      }
   }
   .sticky-product {
      align-items: center;
      gap: 16px;
      display: flex;
      &__image {
         width: 72px;
         height: 72px;
         flex: 0 0 72px;
         border-radius: 8px;
         overflow: hidden;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      &__info {
         display: flex;
         flex-direction: column;
         gap: 4px;
         color: $black;
      }
      &__title {
         @include body-s;
         display: -webkit-box;
         -webkit-line-clamp: 2; // количество строк
         -webkit-box-orient: vertical;
         overflow: hidden;
      }
      &__price {
         @include body-bold;
      }
      @media (max-width: 768px) {
         gap: 12px;
         &__image {
            width: 56px;
            height: 56px;
            flex: 0 0 56px;
         }
         &__title {
            @include body-xs;
         }
         &__price {
            @include body-s;
         }
      }
   }
   .product-card {
      @media (max-width: 1440px) {
         padding: 12px;
         &__title {
            display: -webkit-box;
            -webkit-line-clamp: 2; // количество строк
            -webkit-box-orient: vertical;
            overflow: hidden;
         }
         &__actions {
            gap: 12px;
         }
      }
   }
   &__nav {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid #e1e1e3;
      background-color: $white;
      z-index: 1;
      &.swiper-button-disabled {
         opacity: 0;
      }
      svg path {
         stroke: $black;
      }
      @media (max-width: 768px) {
         display: none;
      }
      &_prev {
         left: 0;
         translate: 0 -50%;
      }
      &_next {
         right: 0;
         translate: 0 -50%;
      }
   }
   .desktop {
      .swiper {
         margin-left: -20px;
         margin-right: -20px;
         padding-left: 20px;
         padding-right: 20px;
         padding-bottom: 40px;
         padding-top: 32px;
      }
   }
   width: 1184px;
   @media (max-width: 1608px) {
      width: calc(1020px + 164 * ((100vw - 1440px) / (1608 - 1440)));
   }
   @media (max-width: 1440px) {
      width: calc(603px + 417 * ((100vw - 1024px) / (1440 - 1024)));
   }
   @media (max-width: 1024px) {
      width: calc(644px + 33 * ((100vw - 992px) / (1024 - 992)));
      // 644
      .swiper-slide:nth-child(4):has(.compare-empty) {
         display: none;
      }
   }
   @media (max-width: 992px) {
      width: calc(100vw - 72px);
   }
   @media (max-width: 568px) {
      width: calc(100vw - 56px);
   }
   .tablet,
   .mobile {
      display: none;
   }
   @media (max-width: 768px) {
      gap: 20px;
      .desktop {
         display: none;
      }
      .tablet {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 20px;
         .swiper {
            padding-top: 34px;
            width: calc(178px + 40 * ((100vw - 650px) / (768 - 650)));
            .product-card {
               padding: 0;
            }
         }
         .sticky-swiper .swiper {
            padding-top: 0;
         }
      }
   }
   @media (max-width: 650px) {
      .tablet {
         display: none;
      }
      .mobile {
         .product-card {
            padding: 0;
         }
         gap: 8px;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         .swiper {
            padding-top: 34px;

            width: calc(251px + 34 * ((100vw - 568px) / (650 - 568)));
            // width: 128px;
         }
      }
   }
   @media (max-width: 568px) {
      .mobile {
         .swiper {
            width: calc(128px + 123 * ((100vw - 320px) / (568 - 320)));
         }
      }
   }
}
.compare-info {
   display: flex;
   flex-direction: column;
   gap: 28px;
   &__filter {
   }

   &__list {
      width: 1184px;
      @media (max-width: 1608px) {
         width: calc(1020px + 164 * ((100vw - 1440px) / (1608 - 1440)));
      }
      @media (max-width: 1440px) {
         width: calc(603px + 417 * ((100vw - 1024px) / (1440 - 1024)));
      }
      @media (max-width: 1024px) {
         width: calc(644px + 33 * ((100vw - 992px) / (1024 - 992)));
      }
      @media (max-width: 992px) {
         width: calc(100vw - 72px);
      }
      display: flex;
      flex-direction: column;
      gap: 28px;
      @media (max-width: 768px) {
         gap: 20px;
      }
   }

   &__item {
   }
}
.compare-stat {
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      transition: 0.3s;
      &.active {
         padding-bottom: 16px;
         .compare-stat__icon {
            rotate: 0deg;
         }
      }
   }

   &__title {
      color: $black;
      @include title;
   }

   &__icon {
      transition: 0.3s;
      rotate: 180deg;
   }

   &__main {
      pointer-events: none;
      .tablet,
      .mobile {
         display: none;
      }
      @media (max-width: 768px) {
         .tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            .swiper {
               width: calc(178px + 40 * ((100vw - 650px) / (768 - 650)));
            }
         }
         .desktop {
            display: none;
         }
      }
      @media (max-width: 650px) {
         .mobile {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
            .swiper {
               width: calc(251px + 34 * ((100vw - 568px) / (650 - 568)));
            }
         }
         .tablet {
            display: none;
         }
      }
      @media (max-width: 568px) {
         .mobile {
            .swiper {
               width: calc(128px + 123 * ((100vw - 320px) / (568 - 320)));
            }
         }
      }
   }

   &__subitem {
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include body-s;
      & + & {
         margin-top: 16px;
      }
   }

   &__subtitle {
      color: #999999;
   }

   &__text {
      color: $black;
   }
   @media (max-width: 768px) {
      &__header {
         &.active {
            padding-bottom: 12px;
         }
      }
      &__title {
         @include body-bold;
      }
      &__subtitle,
      &__text {
         @include body-xs;
      }
   }
}

.compare-empty {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 28px;
   border-left: 1px solid #e1e1e3;
   &__icon {
      width: 60px;
      aspect-ratio: 1;
      flex: 0 0 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fafafb;
      border-radius: 50%;
   }

   &__text {
      @include body;
      color: #7d7d7d;
      max-width: 126px;
   }
   @media (max-width: 768px) {
      gap: 20px;
      &__text {
         @include body-xs;
      }
   }
}
