.wrapper {
   font-family: $fontInter;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.main {
   flex: 1;
   padding-top: 140px;
   @media (max-width: 1024px) {
      padding-top: 96px;
   }
   @media (max-width: 768px) {
      padding-top: 106px;
   }
   @media (max-width: 568px) {
      padding-top: 104px;
   }
}
.collapse:not(.collapse_show) {
   display: none;
}
.container {
   max-width: 1608px;
   padding: 0 47px;
   margin: 0 auto;
   @media (max-width: 1024px) {
      padding: 0 20px;
   }
   @media (max-width: 568px) {
      padding: 0 12px;
   }
}
.btn {
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 40px;
   font-size: 16px;
   line-height: calc(5 / 4);
   text-align: center;
   border-radius: 8px;
   &.light {
      background-color: $white;
      color: $black;
   }
}

.slider-btn {
   cursor: pointer;
   width: 40px;
   height: 40px;
   flex: 0 0 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #7d7d7d;
   background-color: #252525b2;
   transition: 0.3s;
   border-radius: 50%;
   @media (hover: hover) {
      &:hover {
         border: 1px solid #9c9c9c;
      }
   }
   &:active {
      order: 1px solid #9c9c9c;
   }
   &::after {
      display: none;
   }
}
.section {
   margin-top: 120px;
   @media (max-width: 1024px) {
      margin-top: 80px;
   }
   @media (max-width: 568px) {
      margin-top: 42px;
   }
}

.h2 {
   font-size: 32px;
   font-weight: 700;
   line-height: calc(40 / 32);
   @media (max-width: 768px) {
      font-size: 24px;
   }
   @media (max-width: 568px) {
      font-size: 20px;
   }
}
.body-text {
   font-size: 16px;
   line-height: calc(20 / 16);
   color: $black;
}

.breadcrumbs {
   margin: 16px 0;
   &__list {
      display: flex;
      gap: 10px;
      align-items: center;
      li:last-child {
         .breadcrumbs__link {
            color: #7d7d7d;
            &::after {
               display: none;
            }
         }
      }
   }

   &__link {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      font-weight: 400;
      color: $black;
      white-space: nowrap;
      &::after {
         content: "";
         display: block;
         width: 16px;
         height: 16px;
         flex: 0 0 16px;
         background: url(../img/icons/breadcrumbs-icon.svg) center / cover
            no-repeat;
      }
   }
}

.h0 {
   font-size: 36px;
   font-weight: 700;
   line-height: calc(44 / 36);
   @media (max-width: 768px) {
      font-size: 24px;
   }
}
